<?xml version="1.0"?>

<model>
  <name>Smartphone</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Dave Jilk</name>
    <email>dave@jilk.com</email>
  </author>

  <description>
    A model of a smartphone used as a sensor array
  </description>

  <depend>
  </depend>
</model>

