Source: emergent
Section: main
Priority: optional
Maintainer: Brian Mingus <brian.mingus@colorado.edu>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: emergent
Architecture: i386
Depends: emergent-qt,emergent-coin,emergent-soqt,libode0c2,libode0-dev,libsimage20c2,libsimage-dev,libsndfile1,libsndfile1-dev,libgsl0,libgsl0-dev
Description: Emergent Neural Network Simulation Software
 Emergent (a major rewrite of PDP++) is a comprehensive simulation environment for creating complex, sophisticated models of the brain and cognitive processes using neural network models. These same networks can also be used for all kinds of other more pragmatic tasks, like predicting the stock market or analyzing data. It includes a full GUI environment for constructing networks and the input/output patterns for the networks to process, and many different analysis tools for understanding what the networks are doing. It has a new tabbed-browser style interface with full 3D graphics (via OpenGL and Open Inventor/Coin3D), and powerful new GUI programming tools and data processing and analysis capabilities.
